.site-footer {
	color: #fff;
	background-color: #222;
	margin-top: 30px;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 0px;
}

.bottom-footer {
	color: #b2b2b2;
	padding-top: 5px;
	margin-top: 0px;
	border-top: 1px solid #b2b2b2;
}

.footer-nav li{
	display: inline;
}

.footer-nav {
	text-align: right;
	list-style-type: none;
}

.footer-nav li:not(:first-child):before {
	content: '|';
	padding: 0px 10px;
}

.footer-nav a {
	color: #b2b2b2;
	text-decoration: none;
}

.footer-nav a:hover {
	color: white;
	text-decoration: none;
}

.item {
text-align: center;
height: 300px !important;
}


body {
   background:  !important;
}

#noshadow{
	box-shadow: none;	
	margin-bottom: 0px;
}

.navbar .navbar-nav > li > a:hover {
  text-decoration: underline;
  background-color: #041A9B !important;
}

.navbar {
border-radius: 0px !important;
margin-bottom: 0px !important;
}

#jumbo {
background-color: white;
margin-bottom:5px;
}

.page-header {
	box-shadow: none !important;	
	margin-bottom: 0px;
}

.icon-cog {
   color: #fff;
}

.icon-cog:hover {
	color: #041A9B;
}


.linknocolor {
	color: black !important;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}


.imagelink:hover {
	outline: solid;
}

